body{
    background-color: #C7A19B;
}

.till__display {
    margin: 2rem 25vw;
    text-align: center;
}

.till__console {
    padding: 1rem;
    background-color: black;
    color: rgb(14, 182, 14);
    font-size: 1.25rem;
}



/* Cards */

button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    margin: auto;
}
button:hover {
    cursor: pointer;
}

.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.homeCard {
    background-color: white;
    width: 20vw;
    height: 50vh;
}

.homeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #47484A;
}

.card-body {
    text-align: center;
}

.card1 {
    text-align: center;
}

.allCards{
    margin: auto;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.checkout button {
    margin: 1rem 25vw;
    padding: 1rem;
    background-color: cornflowerblue;
}