body {
    background-color: #C7A19B;
}

.till__display {
    margin: 2rem 25vw;
    text-align: center;
}

.till__console {
    padding: 1rem;
    background-color: white;
    color: #47484A;
    font-size: 25px;
}



/* Cards */

button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    margin: auto;
}

button:hover {
    cursor: pointer;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.homeCard {
    background-color: white;
    width: 30vw;
    height: 80vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

.homeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #47484A;
}

.card-body {
    text-align: center;
}

.card1 {
    text-align: center;
}

.allCards {
    margin: auto;
}

h1 {
    font-size: 70px;
    color: #C7A19B;
    padding: 15px;
    text-align: center;
    background-color: white;
    width: max-content;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    color: #47484A;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #47484A;
    padding: 15px;
    text-align: center;
}

.card-image{
    width: 180px;
    height: 200px;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.checkout button {
    margin: 1rem 25vw;
    padding: 1rem;
    background-color: cornflowerblue;
}