body {
    background-color: #C7A19B;
}

.till__display {
    margin: 2rem 25vw;
    text-align: center;
}

.till__console {
    padding: 1rem;
    background-color: white;
    color: #47484A;
    font-size: 25px;
    margin-bottom: 20px;
}



/* Cards */

button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    margin: auto;
}

button:hover {
    cursor: pointer;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.homeCard {
    background-color: white;
    width: 30vw;
    height: 80vh;
    margin-top: 30px;
    margin-bottom: 40px;
}

.homeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #47484A;
}

.card-body {
    text-align: center;
}

.card1 {
    text-align: center;
}

.allCards {
    margin: auto;
}

h1 {
    font-size: 70px;
    color: #C7A19B;
    padding: 15px;
    text-align: center;
    background-color: white;
    width: max-content;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    color: #47484A;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #47484A;
    padding: 15px;
    text-align: center;
}

h4 {
    font-size: 23px;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #C7A19B;
}

.card-image {
    width: 220px;
    height: 250px;
}

.checkout {
    width: 100px;
    margin-top: 20px;
    background-color: #47484A;
    font-size: 20px;
    color: white;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.checkout:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #47484A;
}

.checkoutPay {
    width: 150px;
    margin-top: 20px;
    background-color: #B4F8C8;
    font-size: 20px;
    color: #47484A;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.checkoutPay:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #47484A;
}

.confirmButton {
    margin: auto;
    margin-top: 20px;
}


.listImage {
    width: 150px;
    height: 160px;
}


.logOutStyle {
    margin-left: 15px;
    width: 70px;
    height: 70px;
}

.invoiceForm {
    background-color: white;
    width: 60vw;
    margin: auto;
}

table {
    margin: auto;
}

td {
    padding: 20px;
}

